<% title "Channel" %>

<p>
  <strong>Name:</strong>
  <%= @channel.name %>
</p>
 
<p>
  <strong>Series:</strong>
  <%= raw(listify(@channel.series_items)) %>
</p>

<p>
  <%= link_to "View All", channels_path %>
</p>
