<% title "Actor" %>

<p>
  <strong>Last Name:</strong>
  <%= @actor.last_name %>
</p>
<p>
  <strong>First Name:</strong>
  <%= @actor.first_name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @actor.description %>
</p>

  <%= link_to "View All", actors_path %>
