  <br>
	<div id="title_bar_center">
	<h3> About Us : <i>All you need to know about TV Tracker </i></h3>
	</div>
    <div id="container" >
	<span class="class1">
      <a href="#q1">What this site is about?</a>
      <br/><br/>
      <a name="q1">TV Tracker is the solution to all your TV needs. This site allows you to well basically track TV shows!!! Find out information on when the next episode of your favourite TV show is, basic information on various shows, actor information etc.</a>
      <br/><br/>
      <a href="#q2">How does this work?</a>
      <br/><br/>
      <a name="q2">You login, choose the shows you follow and then let us update you on when your next dose of entertainment is being aired. </a>
      <br/><br/>
      <a href="#q3">How do I remove episodes I have watched?</a>
      <br/><br/>
      <a name="q3">We like to keep it simple. You just check the episode you have watched and its removed from your list. Make sure you have watched it because once you remove it, it's not coming back.</a>
      <br/><br/>
      <a href="#q4">Who made this?</a>
      <br/><br/>
      <a name="q4">This was made as part of a project for a Software Development class at Carnegie Mellon University (CMU). Our names are Alan, Andrew, Angela, Ashley and Rohit.</a>
      <br/><br/>
	</span>
	</div>
