  <br>
	<div id="title_bar_center">
	<h3> About Us : <i>All you need to know about TV Tracker </i></h3>
	</div>
    <div id="container" >
	<span class="class1">
          <h3><a href="#q1">What this site is about?</a></h3>
      <br/><br/>
      <div id = "q1">TV Tracker is the solution to all your TV needs. This site allows you to well basically track TV shows! Find out information on when the next episode of your favourite TV show is, basic information on various shows, actor information and the works. </div>
       <br/><br/>
       <h3><a href="#q2">How does this work?</a></h3>
      <br/><br/>
      <div id="q2">You login, choose the shows you follow and then let us update you on when your next dose of entertainment is being aired. </div>
      <br/><br/>
      <h3><a href="#q3">How do I remove episodes I have watched?</a></h3>
      <br/><br/>
      <div id="q3">We like to keep it simple. You just check the episode you have watched and its removed from your list. Make sure you have watched it because once you remove it, it's not coming back.</div>
      <br/><br/>
      <h3><a href="#q4">Who made this?</a></h3>
      <br/><br/>
      <div id="q4">This was made as part of a project for a Software Development class at Carnegie Mellon University (CMU). Our names are Alan, Andrew, Angela, Ashley and Rohit.</div>
      <br/><br/>
	</span>
	</div>
