<html>
  <head>
    <div id="title_bar_center">
      <h3>Privacy Policy</h3>
    </div>
    </head>

  <body>
    <div id="container" >
	<span class="class1">
    <br/><p>
      At TVtracker, we are keenly aware of the trust you place in us and our responsibility to protect your privacy. As part of this responsibility, we let you know what information we collect when you use our products and services, why we collect it and how we use it to improve your experience.
</p><br/>
    <p>We have five privacy principles that describe how we approach privacy and user information across all of our products:</p>
    <ul><br/>
      <li>Use information to provide our users with valuable products and services.</li>
<br/><li>Develop products that reflect strong privacy standards and practices.</li>
<br/><li>Make the collection of personal information transparent.</li>
<br/><li>Give users meaningful choices to protect their privacy.</li>
<br/><li>Be a responsible steward of the information we hold.</li>
</ul>
        </span>
    </div>

    
  </body>
</html>