<html>
  <head>
    <div id="title_bar_center">
<h3>Terms of Service</h3>
    </div>
    </head>
  <body>
    <div id="container" >
	<span class="class1">
          <ul>
            <br/>
    <li>You should understand that you agree to use the service for no illegal activity or anything else that is wrong.</li>
	<br/><li>You should only use this site in the way the developers intended.</li>
	<br/><li>You agree not to reverse-engineer, decompile, etc. (the standards) the code.</li>
	<br/><li>You agree to any further changes we make to the terms in the future.</li>
          </ul>
        </span>
	</div>
  </body>

        </html>