<h1>Search Results for "<%= @results['query'] %>"</h1>
<br/>
<div id="searchResults">
   <% if @results['size'] > 0 %>
       <%= @results['size'] %> results found:<br/>
       <% @results.delete 'size' %>
       <% @results.delete 'query' %>
       <% order = {'series'   => 1,
		 				 'episodes' => 2} %>

       <% @results.keys.sort_by{|k| order[k] || 999}.each do |part| %>
                <div id="searchPartial">
                        <h3>Results for: <%= part.capitalize %></h3>
                    <% if @results[part].size != 0 %>
                            <% @results[part].sort_by{|r| r.name}.each do |result| %>
                                <div id="searchResult">
                                  <%= link_to result.search_summary, result %>
                                </div>
                            <% end %>
                    <% else %>
                        <div id="searchResult">
                            No results found.
                        </div>
                    <% end %>
                </div><br/>
       <% end %>

   <% else%>
        Sorry, No results were found.
   <% end %>
</div>
