<% title "Shows I Follow" %>

<table>
  <% for list_item in @list_items %>
     <%= render :partial => "field", :locals => {:list_item => list_item} %>
  <% end %>
</table>

<p><%= link_to "Follow another show?", new_list_item_path %></p>
