<% title "List Item" %>

<p>
  <strong>Series Item:</strong>
  <%= @list_item.series_item %>
</p>

<p>
<<<<<<< HEAD
=======
  <%= link_to "Destroy", @list_item, :confirm => 'Are you sure?', :method => :delete %> |
>>>>>>> 8854265e33a116c6e390f666c01b12253fb524c4
  <%= link_to "View All", list_items_path %>
</p>
